* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  
}

body {
  margin: 0;
  background-color: #363636;
  
}

.card {
  max-width: 600px;
  border-radius: 15px;
}

p.form-control {
  margin: 0%;
}